services:
  mongo:
    image: mongo
    container_name: database
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin

  mongo-express:
    image: mongo-express
    container_name: database-gui
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://admin:admin@mongo:27017/
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    depends_on:
      - mongo

  backend:
    image: mdzihad22/voting-backend:1.0
    container_name: backend
    ports:
      - 3001:3001
    environment:
      MONGODB_URI: mongodb://admin:admin@mongo:27017/bangladesh-voting?authSource=admin
      NODE_ENV: production
    depends_on:
      - mongo

  frontend:
    image: mdzihad22/voting-frontend:1.0
    container_name: frontend
    ports:
      - 5173:5173
    environment:
      VITE_API_URL: http://localhost:3001/api
      VITE_SOCKET_URL: http://localhost:3001
    depends_on:
      - backend
