services:
  mongo:
    image: mongo
    container_name: database
    ports:
      - "27017:27017"
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}

  backend:
    image: mdzihad22/voting-backend:${IMAGE_TAG}
    container_name: backend
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    env_file:
      - .env
    environment:
      MONGODB_URI: ${MONGODB_URI}
      NODE_ENV: ${NODE_ENV}
      FRONTEND_URL: ${FRONTEND_URL}
      JWT_SECRET: ${JWT_SECRET}
      PORT: ${BACKEND_PORT}
    depends_on:
      - mongo

  frontend:
    image: mdzihad22/ngi-front:${IMAGE_TAG}
    container_name: frontend
    ports:
      - "80:80"
    env_file:
      - .env
    depends_on:
      - backend
